---
new_page_extension: md
auto_deploy: false
admin_path:
webhook_url:
sections:
  - type: document
    path: content/_index.md
    label: Home
  - type: directory
    path: content
    label: Pages
    create: all
    match: "**/*"
    exclude: _index.md
  - type: document
    path: config.toml
    label: Configuration
upload_dir: static
public_path: ""
front_matter_path: ""
use_front_matter_path: false
file_template: ":filename:"
build:
  preview_env:
    - HUGO_ENV=staging
    - HUGO_VERSION=0.71.1
  preview_output_directory: public
  preview_docker_image: forestryio/hugo:latest
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: hugo server -D -E -F --renderToDisk -d public
version: 0.71.1
