/* Tailwind base - put variables under: tailwind.config.js */
@import "node_modules/tailwindcss/base";
/* Tailwind component classes registered by plugins*/
@import "node_modules/tailwindcss/components";
/* Tailwind's utility classes - generated based on config file */
@import "node_modules/tailwindcss/utilities";

/*
#
# Buttons
#
*/

/*
.button-primary {
  background-color: rgb(239, 130, 44);
}

.button-primary:hover {
  background-color: rgb(236, 113, 18);
}

.button-secondary {
  color: rgba(255, 255, 255, 0.95);
  background-color: rgb(100, 100, 100);
}

.button-secondary:hover {
  background-color: rgb(90, 90, 90);
}
*/

/*
#
# Top border color of form inputs
#
*/

/*
.border-t {
  border-color: rgb(239, 130, 44);
}
*/

/*
#
# Header Background & Text
#
*/

/*
#header-inner-wrapper {
  background-color: rgba(26, 38, 191, 0.9);
}

#brand-headline {
  color: rgb(239, 130, 44);
}

#tagline-paragraph {
  color: rgba(255, 255, 255, 0.95);
}
*/

/*
#
# Content below the header
#
*/

/*
.prose h1 {
  color: rgb(239, 130, 44);
}

.prose p {
  color: white;
}
*/
