<form
  {{ with .Get "action" }}action="{{ . }}"{{ end }}
  class="pb-10"
  id="{{ with .Get "id" }}{{ . }}{{ else }}newsletter-sign-up-form{{ end }}"
  name="newsletter"
  netlify
  netlify-honeypot="you-like-this-field"
>
  <div class="hidden">
    <input name="you-like-this-field" />
  </div>
  <div class="grid grid-cols-1">
    <div class="border-t border-teal-500 py-2">
      <input
        id="name"
        name="name"
        type="email"
        required
        class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
        type="text"
        placeholder="{{ with .Get "placeholder_email" }}{{ . }}{{ else }}Your Email{{ end }}"
        aria-label="Email"
      />
      <div class="md:text-center mx-auto">
        <button
          class="button button-primary mx-auto w-full rounded-lg px-4 md:px-5 my-5 py-3 md:py-4 bg-teal-500 hover:bg-teal-600 md:text-lg text-white font-semibold leading-tight shadow-md md:text-center"
        >
          {{ with .Get "button_label" }}{{ . }}{{ else }}Sign up{{ end }}
        </button>
      </div>
    </div>
  </div>
</form>
