name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Read node-version from .nvmrc
        run: echo ::set-output name=NVMRC::$(cat .nvmrc)
        id: nvm

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v6.1.0
        with:
          node-version: "${{ steps.nvm.outputs.NVMRC }}" # see previous run-statement

      - run: npm install # installs postcss-cli, etc.
      - run: npm test

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3.0.0
        with:
          hugo-version: latest

      - name: Build local ./exampleSite
        run: hugo --minify --destination ../public --source ./exampleSite --themesDir ../.. --baseURL https://janraasch.github.io/hugo-product-launch/

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push'
        uses: peaceiris/actions-gh-pages@v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
