name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Read node-version from .nvmrc
        run: echo ::set-output name=NVMRC::$(cat .nvmrc)
        id: nvm

      - name: Install Node.js, NPM and Yarn
        uses: actions/setup-node@v2.1.2
        with:
          node-version: "${{ steps.nvm.outputs.NVMRC }}" # see previous run-statement

      - run: npm install # installs postcss-cli, etc.
      - run: npm test

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: latest

      #
      # See /scripts/generate_resources.sh
      # this is taken care of... Hopefully :-)
      #
      # - name: Create hugo-product-launch folder in resources
      #   run: mkdir ./exampleSite/resources/_gen/assets/css/hugo-product-launch

      # # Otherwise I keep getting the error:
      # # Error: Error building site: POSTCSS: failed to transform "css/main.css" (text/css): resource "css/hugo-product-launch/css/main.css_674d3a8c056e8697f10ad004211806b8" not found in file cache.
      # # see e.g. https://github.com/janraasch/hugo-product-launch/runs/1026595219?check_suite_focus=true#step:8:4
      # - name: Copy cached resources to hugo-product-launch folder
      #   run: cp -R ./exampleSite/resources/_gen/assets/css/css ./exampleSite/resources/_gen/assets/css/hugo-product-launch/css

      - name: Build local ./exampleSite
        run: hugo --minify --destination ../public --source ./exampleSite --themesDir ../.. --baseURL https://janraasch.github.io/hugo-product-launch/

      - name: Deploy to GitHub Pages
        if: github.event_name == 'push'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
